
<%= simple_form_for(@congress) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :size, in: 3...435 %>
    <%= f.input :number_of_states, in: 1...50 %>
    <%= f.input :include_senate %>
    <%= f.input :include_campaigns %>
    <%= f.input :include_money %>
    <%= f.input :include_committees %>
    <%= f.input :is_private %>
    <%= f.input :includes_leadership %>
    <%= f.input :country_direction %>
    <%= f.input :weeks_per_session %>
    <%= f.input :length_of_week %>
    <%= f.input :bill_limit %>
    <%= f.input :contribution_limit %>
    <%= f.input :interest_groups %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
