<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @congress.size %>
</p>

<p>
  <strong>Number of states:</strong>
  <%= @congress.number_of_states %>
</p>

<p>
  <strong>Include senate:</strong>
  <%= @congress.include_senate %>
</p>

<p>
  <strong>Include campaigns:</strong>
  <%= @congress.include_campaigns %>
</p>

<p>
  <strong>Include money:</strong>
  <%= @congress.include_money %>
</p>

<p>
  <strong>Include committees:</strong>
  <%= @congress.include_committees %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @congress.is_private %>
</p>

<p>
  <strong>Includes leadership:</strong>
  <%= @congress.includes_leadership %>
</p>

<p>
  <strong>Country direction:</strong>
  <%= @congress.country_direction %>
</p>

<p>
  <strong>Weeks per session:</strong>
  <%= @congress.weeks_per_session %>
</p>

<p>
  <strong>Length of week:</strong>
  <%= @congress.length_of_week %>
</p>

<p>
  <strong>Bill limit:</strong>
  <%= @congress.bill_limit %>
</p>

<p>
  <strong>Contribution limit:</strong>
  <%= @congress.contribution_limit %>
</p>

<p>
  <strong>Interest groups:</strong>
  <%= @congress.interest_groups %>
</p>

<p>
  <strong>GOP Districts:</strong>
  <%= @congress.districts.where("pvi >= ?", 8).count %>
</p>

<p>
  <strong>DEM Districts:</strong>
  <%=  @congress.districts.where("pvi < ?", 0).count  %>
</p>

<p>
  <strong>Swing Districts:</strong>
  <%=  @congress.districts.where("pvi BETWEEN ? AND ?", 0, 7).count  %>
</p>

<p>
  <strong>GOP States:</strong>
  <%= @congress.states.where("pvi >= ?", 8).count %>
</p>

<p>
  <strong>DEM States:</strong>
  <%=  @congress.states.where("pvi < ?", 0).count  %>
</p>

<p>
  <strong>Swing States:</strong>
  <%=  @congress.states.where("pvi BETWEEN ? AND ?", 0, 7).count  %>
</p>

<p>
  <strong>Urban Districts:</strong>
  <%= @congress.districts.where("geography_type = ?", "Urban").count %>
</p>

<p>
   <strong>Suburban Districts:</strong>
  <%= @congress.districts.where("geography_type = ?", "Suburban").count %>
</p>

<p>
    <strong>Rural Districts:</strong>
  <%= @congress.districts.where("geography_type = ?", "Rural").count %>
</p>

<p>
  <strong>Owner</strong>
  <%= @congress.owner.email %>
</p>
<% @membership = current_user.memberships.find_by(congress_id: @congress.id) %>
<% if current_user.member?(@congress) %><%= link_to "Leave this Congress", congress_membership_path(@congress, @membership), :method => :delete %>
<% else current_user.member?(@congress) %><%= link_to "Join this Congress", join_congress_path(@congress) %><%end%>
<br>
<%if @congress.states.present?%>
<table class="table">
  <thead>
  <tr>
    <th>State</th>
    <th>Number of Districts</th>
    <th>Region</th>
    <th>PVI</th>
    <th>Population</th>
    <th>White</th>
    <th>Latino </th>
    <th>Black</th>
    <th>Asian</th>
    <th>Other</th>
    <th>Density</th>
    <th>Gun Owners</th>
    <th>Union Membership</th>
  </tr>
  </thead>

  <tbody>
  <% @congress.states.each do |state| %>
  <tr>
    <td><%=state.name%></td>
    <td><%=state.districts.count %></td>
    <td><%=state.region%></td>
    <td><%=state.true_pvi %></td>
    <td><%= number_with_delimiter(state.population, :delimiter => ',')%></td>
    <td><%= number_with_precision(state.white_population, :precision => 2)%>%</td>
    <td><%= number_with_precision(state.latino_population, :precision => 2)%>%</td>
    <td><%= number_with_precision(state.black_population, :precision => 2)%>%</td>
    <td><%= number_with_precision(state.asian_population, :precision => 2)%>%</td>
    <td><%= number_with_precision(state.other_population, :precision => 2)%>%</td>
    <td><%= number_with_precision(state.population_density.to_f, :precision => 2)  %></td>
    <td><%= number_with_precision(state.gun_owners.to_f, :precision => 2)  %>%</td>
    <td><%= number_with_precision(state.union_members.to_f, :precision => 2)  %>%</td>
  </tr>
    <%end%>
  </tbody>
</table>
<%end%>

<%if @congress.districts.present?%>
<table class="table">
  <thead>
  <tr>
    <th>District Number</th>
    <th>Type</th>
    <th>PVI</th>
    <th>Median Income</th>
    <th>Population</th>
    <th>Population Density</th>
    <th>Gun Owners</th>
    <th>Seniors</th>
    <th>Union Membership</th>
    <th>Top Industry</th>
  </tr>
  </thead>

  <tbody>
  <% @congress.districts.each do |district| %>
  <tr>
    <td><%if district.politician == nil && current_user.politicians.where(congress_id: @congress.id).blank?  %><%= link_to "Claim District", join_district_path(district) %><%end%></td>
    <td><%=district.state.name%> - <%=district.district_display%><%if district.military_base?%>*<br><small><%= district.military_base_type %></small><%end%></td>
    <td><%= district.geography_type %><br><small><%= district.region %></small></td>
    <td><%=district.true_pvi%></td>
    <td>$<%= number_with_delimiter(district.median_income, :delimiter => ',')%></td>
    <td><%= number_with_delimiter(district.population, :delimiter => ',')%></td>
    <td><%= number_with_precision(district.pop_per_sq_mile.to_f, :precision => 2)  %></td>
    <td><%= number_with_precision(district.gun_owners.to_f, :precision => 2)  %>%</td>
    <td><%= number_with_precision(district.percent_age_above_65, :precision => 2) %>%</td>
    <td><%= number_with_precision(district.union_membership, :precision => 2) %>%</td>
    <td><%= district.top_industry_1 %></td>
  </tr>
    <%end%>
  </tbody>
</table>
<%end%>

<%= link_to 'Edit', edit_congress_path(@congress) %> |
<%= link_to 'Back', congresses_path %>
