<p id="notice"><%= notice %></p>

<p>
  <strong>Population:</strong>
  <%= @district.population %>
</p>

<p>
  <strong>District type:</strong>
  <%= @district.district_type %>
</p>

<p>
  <strong>Region:</strong>
  <%= @district.region %>
</p>


<p>
  <strong>Median income:</strong>
  <%= @district.median_income %>
</p>



<p>
  <strong>Pvi:</strong>
  <%= @district.pvi %>
</p>

<p>
  <strong>State:</strong>
  <%= @district.state_id %>
</p>

<p>
  <strong>Congress:</strong>
  <%= link_to "View Congress", @district.congress %>
</p>

<p>
  <strong>Politician:</strong>
  <%= "#{@district.politician.first_name} #{@district.politician.last_name}" %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
